extends layout

block content
  

  
    .wrapper
      .container
        h1 Welcome
        form.form
          input(type='text' placeholder='Username')
          input(type='password' placeholder='Password')
          button#login-button(type='submit') Login
      ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li


